/* The * sign is a universial selector */
* {
    margin: 0%;
    padding: 0%;
}

nav{
    font-size: 20px;
}

body {
    background-color: black;
}

h1, h2, h3, nav {
    color: blueviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2, h3, nav {
    padding: 10px 10px;
    
}

h1{
    font-size: 40px;
}

h2{

    font-size: 30px;
}

p{
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 22px;
}

main{
    flex: 1;
}

article{
    background-color: grey;
}

aside{
    border-top: 5px solid #17db17;
    border-bottom: 5px solid #17db17;
}

aside p{
    background-color: #797979;
}
aside article h3{
    background-color: white;
}
aside h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: blueviolet;
    background-color: #17db17;
    padding: 10px;

}

footer{
    text-align: center;
    background-color: #17db17;
    grid-column: 1 / -1 ;
}
/* Styling Links */

a:link{
    color: blueviolet ;
    margin-right: 30px;
}

a:visited{
    color:  blueviolet;
}
a:hover{
    color: white;
}

a:active{
    color: #17db17;
}

nav a:link:last-child{
    margin-right: 0px;
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: 1fr 300px;
    column-gap: 100px;
    row-gap: 50px;
    align-items: start;
}
/* Using FlexBox */

.read-more {
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
}
/* USING FLEXBOX AS CONTAINER

.main-box{
    display: flex;
    align-items: flex-start;
    column-gap: 80px;
}
*/





.main-header{
    background-color: #17db17;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header{
    grid-column: 1 /span 2;
    
}


.main-p{
    padding: 10px 20px 
}

.main-article{
    row-gap: 20px;
}

/* USING FLEX FOR ASIDE

.main-aside{
    flex: 0 0 300px;
}
*/
.links{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 10px;
    display: inline-block;

}

.recent-post{
    margin-bottom: 30px;
}